@tailwind base;
@tailwind components;
@tailwind utilities;

.grid > span {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid rgb(88, 45, 45);
  border-right: 1px solid black;
}

@media (min-width: 801px) {  
  .grid {
    display: grid;
    grid-template-columns: 10% 1fr 1fr;
    grid-template-rows: repeat(8, minmax(1fr, 20px));
    grid-template-areas:  "xtitle     xtitle      xcopyright"
                          "xcaption   xcaption    xcaption  "
                          "xheading   xheading    xheading  "
                          "xrow1A     xrow1B      xrow1C"
                          "xrow2A     xrow2B      xrow2C"
                          "xrow3A     xrow3B      xrow3C"
                          "xrow4A     xrow4B      xrow4C"
                          "xrow5A     xrow5B      xrow5C"
                          "xrow6A     xrow6B      xrow6C"
                          "xrow7A     xrow7B      xrow7C"
                          "xrow8A     xrow8B      xrow8C";
    border-top: 1px solid black;
    border-right: 1px solid black;
                                               
    background-color: #21F396;
    text-align: justify;
  }

  .xcopyright {
    grid-area: xcopyright;
  }

  .xtitle {
    grid-area: xtitle;
  }
  .xcaption {
    grid-area: xcaption;
  }
  .xheading {
    grid-area: xheading;
  }
  .xrow1A {
    grid-area: xrow1A;
  }
  .xrow1B {
    grid-area: xrow1B;
  }  

  .xrow1C  {
    grid-area: xrow1C;
  }

  .xrow2A {
    grid-area: xrow2A;
  }

  .xrow2B{
    grid-area: xrow2B;
  }

  .xrow2C  {
    grid-area: xrow2C;
  }

  .xrow3A {
    grid-area: xrow3A;
  }

  .xrow3B {
    grid-area: xrow3B;
  }

  .xrow3C {
    grid-area: xrow3C;
  }

  .xrow4A {
    grid-area: xrow4A;
  }

  .xrow4B {
    grid-area: xrow4B;
  }

  .xrow4C {
    grid-area: xrow4C;
  }
  .xrow5A {
    grid-area: xrow5A;
  }
  .xrow5B {
    grid-area: xrow5B;
  }
  .xrow5C {
    grid-area: xrow5C;
  }  
  .xrow6A {
    grid-area: xrow6A;
  }
  .xrow6B {
    grid-area: xrow6B;
  }
  .xrow6C {
    grid-area: xrow6C;
  }  
  .xrow7A {
    grid-area: xrow7A;
  }
  .xrow7B {
    grid-area: xrow7B;
  }
  .xrow7C {
    grid-area: xrow7C;
  }
  .xrow8A {
    grid-area: xrow8A;
  }
  .xrow8B {
    grid-area: xrow8B;
  }
  .xrow8C {
    grid-area: xrow8C;
  }
}
  @media (max-width: 800px) {
    .grid{
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: repeat(6, minxmax(1fr, 20px));
        grid-template-areas:  "xrow1A     xrow2A"
                              "xrow1B     xrow2B"
                              "xrow1C     xrow1C"
                              "xrow2C     xrow2C"                              
                              "xtitle     xtitle"
                              "xcaption   xcaption"
                              "xheading   xheading"
                              "xcopyright xcopyright";
                             
      }
      .xcopyright {
        grid-area: xcopyright;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .xtitle {
        grid-area: xtitle;
      }
      .xcaption {
        grid-area: xcaption;
      }
      .xheading {
        grid-area: xheading;
      }
      .xrow1A {
        grid-area: xrow1A;
      }
      .xrow1B {
        grid-area: xrow1B;
      }  
    
      .xrow1C  {
        grid-area: xrow1C;
      }
    
      .xrow2A {
        grid-area: xrow2A;
      }
    
      .xrow2B{
        grid-area: xrow2B;
      }
    
      .xrow2C  {
        grid-area: xrow2C;
      }

/*      .xrow3A, .xrow3B, .xrow3C, .xrow4A, .xrow4B, .xrow4C  {
        visibility: collapse;
      }*/


    }