@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /*font: 1.5rem/2.5rem Verdana, sans-serif;*/
  }
  
  .grid {
    display: grid;
    grid-template-columns: minmax(10px, auto) 1fr 1fr;
    border-top: 1px solid black;
    border-right: 1px solid black;
                                               
    background-color: #21F396;
    padding: 10px;
    text-align: justify;
  }

  .grid > span {
    padding: 8px 4px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid rgb(88, 45, 45);
    border-right: 1px solid black;
  }


  @media (max-width: 800px) {
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "xpoints xpointsvalue"
                             "xbid    xbidvalue"
                             "xrcr    xrcr"
                             "xrcrvalue xrcrvalue";
      }

      .xpoints {
        grid-area: xpoints;
      }

      .xpointsvalues {
        grid-area: xpointsvalue;
      }

      .xbid {
        grid-area: xbid;
      }

      .xbidvalue {
        grid-area: xbidvalue;
      }

      .xrcr {
        grid-area: xrcr;
      }

      .xrcrvalue {
        grid-area: xrcrvalue;
      }


    }